{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
      .main .col{
    width: 48%;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.post{
    background-color: white;
    box-shadow: 0 10px 20px -5px #00000061;
    border-radius: 0 0 25px 0;
    width: 350px;
}
.post img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.post-info h2{
    font-weight: 600;
    margin: 10px;
    color: var(--color-black-1);
    cursor: pointer;
    transition: 0.3s ease;
}
.post-info h2:hover{
    color: red;
}
.post-info p{
    font-size: 15px;
    opacity: 0.7;
    line-height: 1.5rem;
    text-align: justify;
    padding: 0 10px 10px 10px;
    cursor: pointer;
}
.post-info p:hover{
    color: rgb(214, 0, 0);
}
.user-info img{
    width: 15%;
    height: 15%;
    border-radius: 50%;
}
.user-info{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.user-info h1{
    font-weight: 100;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    color: var(--color-black-1);
}
.user-info .date{
    margin-left: 10px;
    line-height: 1.5rem;
}

.container.main{
    display: flex;
    justify-content: space-around;
    padding: 0 0 16px;
}
.post-info h4{
    padding: 0 10px 20px 10px;
    font-size: 15px;
    color: #141d28;
    font-weight: 600;
    transition: 0.3s ease;
}
.col .post:first-child{
    margin-left: 150px;
}
.post-info h4:hover{
    color: red;
}

    </style>
  </head>
  <body>
      <!-- Nav bar -->
      <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid" >
                <a href="#" class="navbar-brand w-20">
                    <img src="https://res.cloudinary.com/goabhi/image/upload/v1647697710/275465363_668038460984736_8953662360308100467_n_oe6mf9.png" height="45" width="55" alt="CoolBrand">
                    <em> Spectrum </em>
                  </a>
    
                
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" style="background-color: #7c9bcb;">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse"  id="navbarCollapse">
                    <div class="navbar-nav justify-content-end">
                      
                        <a href="{% url 'home' %}" class="nav-item nav-link m-2 d-block">Home</a>
                        <a href="{% url 'games' %}" class="nav-item nav-link m-2 d-block active">Game</a>
                        <a href="" class="nav-item nav-link m-2 d-block">Discussion</a>
                        <a href="{% url 'contact' %}" class="nav-item nav-link m-2 d-block" tabindex="-1">Contact Us</a>
                        <a href="{% url 'search' %}" class="nav-item nav-link m-2 d-block" tabindex="-1">Schools Nearby</a>
                        <a href="{% url 'blog' %}" class="nav-item nav-link m-2 d-block" tabindex="-1">Blog</a>
                    </div>
                    
                </div>
    
        </nav>
        </div>

        <!-- games -->
        <div class="container main mt-5">
            <div class="row">
    
                <div class="col-md m-1">
                    <div class="post">
                        <img src="https://res.cloudinary.com/goabhi/image/upload/v1647658717/Screen_Shot_2022-03-18_at_10.58.18_PM_vktktx.png" alt=""> 
                        <div class="post-info">
                            <h2>Subtraction game</h2>  <!--- Backend code for the heading of the blog-->
                            <div class="user-info">
                                <!-- <img src="pictures/vector1.jpg" alt="">
                                <div class="date">Nikhil Aryal
                                <h1>March 27, 2020</h1></div> -->
                            </div>
                            <p>                     <!--- Backend code for the description(first few lines) of the blog-->
                                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                                exercitation...  -->
                            </p>
                            <a href="https://www.abcya.com/games/subtraction_game" target="_blank"><h4>Play game</h4></a>
                        </div>
                    </div>
                </div>


                <div class="col-md m-1">
                    <div class="post">
                        <img src="https://media.istockphoto.com/photos/senior-man-trail-hiking-in-the-forest-at-sunset-picture-id598222532?b=1&k=20&m=598222532&s=170667a&w=0&h=8FCaSZnYzbr0jmXDBEG93a_is29ip1igYfcYni7yojA=" alt=""> 
                        <div class="post-info">
                            <h2>A Short hike</h2>  <!--- Backend code for the heading of the blog-->
                            <div class="user-info">
                                <!-- <img src="pictures/vector1.jpg" alt="">
                                <div class="date">Nikhil Aryal
                                <h1>March 27, 2020</h1></div> -->
                            </div>
                            <p>                     <!--- Backend code for the description(first few lines) of the blog-->
                                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                                exercitation...  -->
                            </p>
                            <a href="https://ashorthike.com/" target="_blank"><h4>Play game</h4></a>
                        </div>
                    </div>
                </div>

                <div class="col-md m-1">
                    <div class="post">
                        <img src="https://www.ixl.com/~media/1/2MTKumS5bmTjMugm58KSouUnrreJEFjb67IbFR0A2MXiPl4itxkicLuxlK0NRWrnJ19RESi66MfeW3LzVr_33Y90nXZS5q3sBuUiTuTC3Gc.svg" alt=""> 
                        <div class="post-info">
                            <h2>Calculate Fractions</h2>  <!--- Backend code for the heading of the blog-->
                            <div class="user-info">
                                <!-- <img src="pictures/vector1.jpg" alt="">
                                <div class="date">Nikhil Aryal
                                <h1>March 27, 2020</h1></div> -->
                            </div>
                            <p>                     <!--- Backend code for the description(first few lines) of the blog-->
                                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                                exercitation...  -->
                            </p>
                            <a href="https://www.abcya.com/games/adding_fractions?fbclid=IwAR3acKu1xz6do-oAn0uczqDAo9R6n3wmWJ1XnuHD5eNbd_BLwFX0sddtIZ8" target="_blank"><h4>Play game</h4></a>
                        </div>
                    </div>
                </div>



          
            </div>


            <div class = "row">
                <div class="col-md m-1">
                    <div class="post">
                        <img src="https://st.depositphotos.com/1032577/4274/i/950/depositphotos_42748913-stock-photo-about-me.jpg" alt=""> 
                        <div class="post-info">
                            <h2>Learn About Me</h2>  <!--- Backend code for the heading of the blog-->
                            <div class="user-info">
                                <!-- <img src="pictures/vector1.jpg" alt="">
                                <div class="date">Nikhil Aryal
                                <h1>March 27, 2020</h1></div> -->
                            </div>
                            <p>                     <!--- Backend code for the description(first few lines) of the blog-->
                                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                                exercitation...  -->
                            </p>
                            <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.abcya.com%2Fgames%2Fall_about_me%3Ffbclid%3DIwAR3acKu1xz6do-oAn0uczqDAo9R6n3wmWJ1XnuHD5eNbd_BLwFX0sddtIZ8&h=AT0vS8bRqvX991ri-QTpeyxOl4ebFFXD5hE58irUZqN2ZEW1B7x2U2e8Hy66Yh5yFDdm23Jcl9Qtid9I4xmNDuK-R8D-7AL9d6vSd26Rn_OG_66voI1ry8FTjoVaLtR5Xt5DWxBvNN4" target="_blank"><h4>Play game</h4></a>
                        </div>
                    </div>
                </div>


                <div class="col-md m-1">
                    <div class="post">
                        <img src="https://ecdn.teacherspayteachers.com/thumbitem/Calendar-Fun-games-abbreviations-and-learning-to-read-a-calendar-058859500-1373137398-1629325519/original-758643-2.jpg" alt=""> 
                        <div class="post-info">
                            <h2>Calendar Game</h2>  <!--- Backend code for the heading of the blog-->
                            <div class="user-info">
                                <!-- <img src="pictures/vector1.jpg" alt="">
                                <div class="date">Nikhil Aryal
                                <h1>March 27, 2020</h1></div> -->
                            </div>
                            <p>                     <!--- Backend code for the description(first few lines) of the blog-->
                                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                                exercitation...  -->
                            </p>
                            <a href="https://www.abcya.com/games/calendar_word_problems?fbclid=IwAR3OUSeIEfZWsxfhLAmMhs8lYnCJcxhuDW-ZQmK3rElgQoaQ-UyU5w5w9ew" target="_blank"><h4>Play game</h4></a>
                        </div>
                    </div>
                </div>

                <div class="col-md m-1">
                    <div class="post">
                        <img src="https://media.npr.org/assets/img/2018/11/02/dc_e32018_quadcopter-8b5baec38a938806163f7b6824edcc5e145bd5d2.png" alt=""> 
                        <div class="post-info">
                            <h2>Donut County</h2>  <!--- Backend code for the heading of the blog-->
                            <div class="user-info">
                                <!-- <img src="pictures/vector1.jpg" alt="">
                                <div class="date">Nikhil Aryal
                                <h1>March 27, 2020</h1></div> -->
                            </div>
                            <p>                     <!--- Backend code for the description(first few lines) of the blog-->
                                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                                exercitation...  -->
                            </p>
                            <a href="http://donutcounty.com/" target="_blank"><h4>Play game</h4></a>
                        </div>
                    </div>
                </div>


            </div>
    
        </div>

        <!-- <div class="container mt-5">
            <div class="row">
                <div class="card col-md m-2" style="width: 18rem;">
                    <img class="card-img-top" src="https://res.cloudinary.com/goabhi/image/upload/v1647658717/Screen_Shot_2022-03-18_at_10.58.18_PM_vktktx.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Subtraction game</h5>
                      <a target="_blank" href="https://www.abcya.com/games/subtraction_game" class="btn btn-primary" target="_blank">Open</a>
                    </div>
                  </div>
                
                  <div class="card col-md m-2" style="width: 18rem;">
                    <img class="card-img-top" src="https://res.cloudinary.com/goabhi/image/upload/v1647658840/Screen_Shot_2022-03-18_at_11.00.24_PM_f3q9fk.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Stack shot</h5>
                      <a target="_blank" href="https://www.crazygames.com/game/stack-shot" class="btn btn-primary">Open</a>
                    </div>
                  </div>


                  <div class="card col-md m-2" style="width: 18rem;">
                    <img class="card-img-top" src="https://res.cloudinary.com/goabhi/image/upload/v1647658951/Screen_Shot_2022-03-18_at_11.01.52_PM_ydhwoe.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Playing cards</h5>
                      <a target="_blank" href="https://playingcards.io/" class="btn btn-primary">Open</a>
                    </div>
                  </div>


            </div>


            <div class="row mt-5">
                <div class="card col-md" style="width: 18rem;">
                    <img class="card-img-top" src="https://res.cloudinary.com/goabhi/image/upload/v1647658492/Screen_Shot_2022-03-18_at_10.30.10_PM_vhadd5.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Turbo dismounting</h5>
                      <a target="_blank" href="https://www.crazygames.com/game/turbo-dismounting" class="btn btn-primary">Open</a>
                    </div>
                  </div>
                
                  

                  
                 <div class="col-md"></div>
                 <div class="col-md"></div>


            </div>
            
        </div> -->


  </body>
</html>
